* {
	box-sizing: border-box;
	/*font-family: 'Merriweather', serif;*/
	/*font-family: 'Droid Sans', sans-serif;*/
	/*font-family: 'Indie Flower', cursive;*/
	/*font-size: 0;*/
}

/*      Logo         */
h1 {
	font-size: 5em;
	text-align: center;
	font-family: 'Indie Flower', cursive;
	color: black;
}

/*      Title         */
h2 {
	font-size: 1.5em;
	text-align: center;
	font-family: 'Merriweather', serif;
	color: black;
}

/*      Subtitle         */
h3 {
	font-size: 1em;
	text-align: center;
	font-family: 'Droid Sans', sans-serif;
	color: black;
}

/*      Paragraph         */
p {
	font-size: 1em;
	text-align: center;
	font-family: 'Droid Sans', sans-serif;
	color: black;
}

/*----------------LISTING----------------*/
.listing-container{


}









